.navbar-container {
  justify-content: space-between;
}

.navbar-element-left {
  min-width: 33%;
  max-width: 33%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-element-center {
  min-width: 33%;
  max-width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-element-right {
  min-width: 33%;
  max-width: 33%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#logout-button {
  margin-left: 10px;
}
